
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kullanıcı Profili</h2><br /><br />
<div class="container">
    <div class="row">

        <div class="form-group">
            <div class="pull-left image">
                <img class="img-circle img-responsive" src="~/Content/images/profil.png" width="50" alt="uyeFoto" />
            </div>
            <div class="pull-left info">
                <h3> @Session["kullaniciAdi"] </h3><br /><br />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="form-row">
                <p><i class="fa fa-user"></i> @Session["kullaniciisim"] @Session["kullanicisoyisim"]</p><br />
            </div>
            <div class="form-row">
                <p><span class="glyphicon glyphicon-envelope"></span> @Session["kullanicimail"] </p><br />
            </div>
            <div class="form-row">
                <p><span class="glyphicon glyphicon-gift"></span> @Session["dogumtarihi"]</p><br />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        $(function () {
            $("#kayit").click(function () {
                console.log("tıklandı");
                var isim = $("#isim").val();
                var soyisim = $("#soyisim").val()
                var kullaniciAdi = $("#kullaniciAdi").val()
                var ePosta = $("#ePosta").val()
                var tarihGun = $("#tarihGun").val()
                var tarihAy = $("#tarihAy").val()
                var tarihYil = $("#tarihYil").val()
                var parola = $("#parola").val()

                var parameters = {
                    ad:isim,
                    soyad:soyisim,
                    kullaniciAdi: kullaniciAdi,
                    email: ePosta,
                    parola: parola
                }

                $.post("/api/Values/KullaniciEkle", parameters, function (result) {
                    console.log(result.basari);
                });
            });
        });
</script>