
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kullanıcı Profili</h2><br /><br />
<div class="container">
    <div class="row">

        <div class="form-group">
            <div class="pull-left image">
                <img class="img-circle img-responsive" src="~/Content/images/profil.png" width="50" alt="uyeFoto" />
            </div>
            <div class="pull-left info">
                <h3> @Session["kullaniciAdi"] </h3><br /><br />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="form-row">
                <p><i class="fa fa-user"></i> @Session["kullaniciisim"] @Session["kullanicisoyisim"]</p><br />
            </div>
            <div class="form-row">
                <p><span class="glyphicon glyphicon-envelope"></span> @Session["kullanicimail"] </p><br />
            </div>
            <div class="form-row">
                <p><span class="glyphicon glyphicon-gift"></span> @Session["dogumtarihi"]</p><br />
            </div>
        </div>
    </div>
    <div class="form-group col-md-8" id="pg">

     </div>
    </div>
<script type="text/javascript">
    $(function () {
        console.log("içerde");
        var paras= {kullaniciID:@Session["kullaniciId"]}

        $ajax({
            url: '/api/Values/ProfilGonderileriGetir',
            data: params,
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                consele.log(data);
                $(data).each(function () {
                    console.log($(this.icerik).selector);
                    $("#pg").append("<p>" + $(this.icerik).selector) + "<p>";
                })
            }
        })

    });
       
</script>
